.game_over_links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

.game_over_link_title {
  font-size: 45px;
  color: var(--enemy-color);
  text-align: center;
}
