:root {
  --debuff-color: rgb(190, 57, 47);
}

@keyframes buttonHover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

body {
  background-color: var(--border);
}

.index {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-content: center; */
}

.start-link-container {
  margin-top: 30px;
  text-align: center;
  justify-self: center;
}

.start-link {
  padding: 14px 9px 3px 9px;
  font-size: 35px;
  color: var(--secondary);
  border: 4px solid var(--primary);
  border-radius: 10px;
  background-color: var(--primary);
  transition: 0.4s;
}

.start-link:hover {
  background-color: transparent;
  animation: buttonHover 0.8s infinite alternate;
}

.tutorial_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.tutorial_section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.tutorial_section:first-of-type {
  margin-bottom: 30px;
}

.tutorial_title,
.tutorial_item {
  color: var(--secondary);
  /* text-align: center; */
}

.tutorial_title {
  padding: 0px 8px 2px 8px;
  margin-bottom: 12px;
  border-bottom: 3px solid var(--primary);
  text-align: center;
}

.tutorial_title:first-of-type {
  margin-bottom: 18px;
}

.tutorial_item {
  margin-bottom: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
}

.tutorial_item.controls {
  margin-bottom: 5px;
}

.click_wrapper {
  font-size: initial;
  color: var(--ally-color);
}

.debuff_wrapper {
  font-size: initial;
  color: var(--debuff-color);
}

.tutorial_icon {
  height: 16px;
  width: 16px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 2px;
}
