:root {
  --sheet-color: rgba(90, 90, 90, 0.95);
  --sheet-alt-color: rgb(122, 85, 16);
  --sheet-trim: rgb(255, 215, 0, 0.9);
  --gold-count-text: yellow;
}

.victory-screen-blur {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.victory-screen-sheet {
  text-align: center;
  position: relative;
  margin-top: 80px;
  height: 70%;
  width: 67%;
  background-color: var(--sheet-color);
  border: solid 4px var(--sheet-trim);
  border-radius: 20px;
}

.kill-counter {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--secondary);
  font-size: 20px;
}

.kill-num {
  color: var(--enemy-color);
  text-shadow: 0px 0px 3px var(--border);
}

.gold-icon {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  background-size: contain;
  top: 6px;
}

.item-icon {
  display: inline-block;
  position: relative;
  height: 58px;
  width: 58px;
  background-size: contain;
  top: 14px;
  margin-right: 2px;
}

.victory-screen-title,
.victory-screen-gold-earned {
  font-size: 36px;
  color: var(--secondary);
  margin-top: 20px;
}

.victory-screen-item {
  color: var(--secondary);
  font-size: 24px;
  margin-bottom: 12px;
}

.victory-screen-item:last-of-type {
  margin-bottom: 0;
}

.victory-screen-title {
  justify-self: center;
  white-space: nowrap;
  width: 30%;
  /* background-color: rgb(255, 215, 0, 0.8); */
  border-bottom: solid 3px var(--sheet-trim);
  margin-top: 60px;
  padding-bottom: 5px;
  /* padding: 5px 6px 0px 6px; */
}

.victory-screen-gold-earned-number {
  margin-left: -4px;
  color: var(--gold-count-text);
}

.victory-screen-link-container {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  right: -24.5%;
  width: 209px;
}

.victory-screen-link {
  padding: 8px 14px 0px 14px;
  font-size: 35px;
  color: var(--secondary);
  white-space: nowrap;
  background-color: var(--title-bg);
  border-radius: 20px;
}
