.footer,
.footer-container,
.footer-body,
.footer-links,
.social-links {
  display: flex;
}

.footer-logo,
.footer-link,
.social-link,
.social-links-title {
  color: var(--secondary);
  transition: 0.5s ease-out;
}

/* .footer-logo:hover,
.footer-link:hover,
.social-link:hover {
  color: var(--ally-color);
} */

.footer-logo-text,
.fa-linkedin,
.fa-github {
  transition: 0.4s ease-out;
}

.fa-linkedin:hover {
  color: var(--ally-color);
}

.fa-github:hover {
  color: var(--enemy-color);
}

/* .footer-logo:hover:active,
.footer-link:hover:active,
.social-link:hover:active {
  transition: none;
  color: var(--link-press);
} */

.footer-container {
  padding: 5px 0px;
  background-color: var(--primary);
  justify-content: center;
}

.footer {
  /* height: 100%; */
  height: 70px;
  width: 65%;
  padding: 10px 0px;
  justify-content: space-around;
  /* align-items: center; */
}

.footer-logo {
  height: 21px;
  align-self: center;
  margin-top: 7px;
  /* padding-top: 13px; */
}

.footer-logo-text {
  font-size: 20px;
  color: var(--secondary);
  padding-top: 5px;
}

.footer-logo-text:hover {
  color: var(--hover);
}

/* .footer-logo .sword {
  transition: 0.5s ease-out;
  background-image: url(../../../Default-Sword-PNG.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.footer-logo .sword:hover {
  opacity: 0.7;
} */

.footer-body {
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.copyright-tag {
  padding-right: 10px;
  color: var(--secondary);
  font-size: 15px;
  /* font-weight: bold; */
}

.social-links {
  justify-content: space-evenly;
}

.fa-copyright {
  font-size: 12px;
}

.fa-brands {
  font-size: 21px;
}

@media screen and (max-width: 1200px) {
  .footer-container.clicked {
    display: none;
  }

  .footer-option {
    list-style: none;
    padding-right: 15px;
  }

  .footer-link {
    font-size: 18px;
  }

  .social-links-title {
    font-size: 17.5px;
  }

  .fa-brands {
    font-size: 22px;
  }
}

@media screen and (max-width: 960px) {
  /* .footer {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  } */

  .footer-logo {
    padding-top: 0px;
    font-size: 1.25rem;
  }

  .footer-option {
    list-style: none;
    padding-right: 20px;
  }

  .footer-link {
    font-size: 20px;
  }

  .social-links-title {
    display: none;
  }
  /* 
  .fa-brands {
    font-size: 29px;
  } */

  /* .social-links {
    width: 210px;
    justify-content: space-between;
  } */
}

@media screen and (max-width: 430px) {
  .footer-logo .paw {
    font-size: 0.73em;
  }

  .copyright-tag {
    font-size: 14px;
  }

  .fa-copyright {
    font-size: 12px;
  }

  .footer-option {
    padding-right: 12px;
  }

  .footer-link {
    font-size: 15px;
  }

  .fa-brands {
    font-size: 20px;
  }

  .social-links {
    max-width: 110px;
    justify-content: space-between;
  }
}
